{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

{% if request.GET.command == 'changePassword' %}
    <div class="card mx-auto" style="max-width:600px; margin-top:40px;">
        <article class="card-body">
        <h4 class="card-title">Reset password</h4>
        {% include 'includes/alert.html' %}
        <form action = "{% url 'changePassword' %}" method="POST">
        {% csrf_token %}
                <input type="text" hidden value="{{ request.GET.email }}" name="email">
                <div class="form-group">
                <label>Enter new password</label>
            <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                    <label>Confirm new password</label>
                    <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
                        </div>
                <div class="form-group">
                    <button type="sumbit" class="btn btn-primary btn-block"> Submit </button>
                </div>
            </form>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->

{% else %}
    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:600px; margin-top:40px;">
          <article class="card-body">
            <h4 class="card-title">Forgot Password</h4>
            {% include 'includes/alert.html' %}
            <form action = "{% url 'forgotPassword' %}" method="POST">
             {% csrf_token %}
                    <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address" name="email">
                    </div>
                    <div class="form-group">
                        <button type="sumbit" class="btn btn-primary btn-block"> Submit </button>
                    </div>
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
{% endif %}
        <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>
        <br><br>
    </section>

{% endblock %}